@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font: "JetBrains Mono", mono;
  --spacing: 0.25rem;
  --default-font-family: var(--font);
  --default-mono-font-family: var(--font);
}

